/* body{
    background-color: #A0B3AD;
} */
/* .container{
    color: white;
} */

/* .table{
    color: white;
} */

/* .input{
    background-color: #A0B3AD;
    color: white;
} */

/* #priorityIn{
    background-color: #706873;
    color: white;
} */


/* #taskButton{
    background-color: #706873;
} */

/* .markComplete{ check for other use of this class. might be able to delete
    background-color: #706873;
    color: white;
} */

.deleteTask{
    background-color: #B05C5A;
}

.darkText{
    color: #706873;
}

.mainColors{
    background-color: #A0B3AD;
}

.darkBackground{
    background-color: #706873;
}

.mainText{
    color: white;
}

